<nav id="nav">

  <h2 id="nav-header">
    {% if 'username' in session %} Hello, {{ session['username'] }} {%
    endif %}
  </h2>
  <a class="btn-nav" href="{{ url_for('home_bp.home') }}">Home</a>
  <a class="btn-nav" href="{{ url_for('authentication_bp.register') }}">Register</a>
  <a class="btn-nav" href="{{ url_for('authentication_bp.login') }}">Login</a>
  <a class="btn-nav" href="{{ url_for('authentication_bp.logout') }}">Logout</a>

  <div>
    <h3>
      <a class="btn-nav" href="{{ url_for('movies_bp.movies_by_date') }}">
        Browse timeline
      </a>
      <a class="btn-nav" href="{{ url_for('movies_bp.movies_by_genre') }}">Browse by genre</a>
    </h3>
  </div>


  <div id="nav-footer">
     ©efen563 CS235 Assignment 2
  </div>
</nav>
